<div class="jumbotron has-edit-button" *ngIf="content; else configureComponentBlock">
  <bre-cms-edit-button *ngIf="content" [configuration]="content"></bre-cms-edit-button>
  <h1>{{content.title}}</h1>
  <figure>
    <img src={{imageUrl}} alt={{content.title}}/>
  </figure>
  <p [innerHTML]="content.content.value"></p>
  <p *ngIf="link"><a class="btn btn-primary btn-lg" routerLink="{{link}}">Learn more</a></p>
</div>
<ng-template #configureComponentBlock>Click to configure {{configuration.label}}</ng-template>
