<div class="blog-post has-edit-button" *ngIf="content; else configureComponentBlock">
  <bre-cms-edit-button *ngIf="content" [configuration]="content"></bre-cms-edit-button>
  <h2 class="blog-post-title">{{content.title}}</h2>
  <p class="blog-post-meta">
    <span class="blog-post-date">{{content.date | date}}</span>
    <span class="author">{{content.author}}</span>
  </p>
  <p>{{content.introduction}}</p>
  <figure>
    <img src={{imageUrl}} alt={{content.title}}/>
  </figure>
  <p [innerHTML]="content.content.value"></p>
</div>
<ng-template #configureComponentBlock>Click to configure {{configuration.label}}</ng-template>
